node_modules/
uploads/
built/*
build/
.coverage
resources/dumper
lib/
excels/
dist/
.vscode/
somefile.log
*.swp
.idea
.env
.DS_Store
*.o
archive.tar.gz
prod-local.js
logs
/tmp/
yarn.lock
*.log
src/config/local.ts
sequelize-meta.json
.env.test
test-output.json
dump.rdb
src/test.ts
src/test.js
src/config.json
tsconfig.tsbuildinfo
docker/postgres-data
*.nomad
job.remote.sh