version: '0.1'
services:
    postgres-luxury:
        image: postgres:10.5
        restart: always
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        logging:
            options:
                max-size: 10m
                max-file: '3'
        ports:
            - '5436:5432'
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
            # copy the sql script to create tables
            - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
            - ./sql/seed_data.sql:/docker-entrypoint-initdb.d/seed_data.sql
